<link rel="stylesheet" href="/css/post.css">
<body>
    <form action="/post/create" method="post">
    <input type="text" name="title" placeholder="TITLE" required>
    <input type="text" name="description" placeholder="DESCRIPTION" required>
    <input type="text" name="img" placeholder="IMAGE LINK" required>
   <input type="submit" name="submit">
   </form>
</body>