<link rel="stylesheet" href="/css/home.css">
<script type="text/javascript" src="/js/actionFunctions.js"></script>
<body>
<input type="hidden" id="currentUserId" value="<%= currentUser ? currentUser._id : 'not_logged_in' %>" />
<input type="hidden" id="apiToken" value="<%= currentUser ? currentUser.apiToken : 'not_logged_in' %>" />

<div class="content">
    <div class="masonryGrid">
        <% posts.forEach(post => { %>
            <%- include('partials/homePostCard.ejs', {post: post}) %>
            <% }) %>
        </div>
    </div>
</body>