<link rel="stylesheet" href="/css/home.css">
<body>
<div class="content">
    <div class="grid">
        <% posts.forEach(post => { %>
            <div class="card">
                <img class="image" src=<%= post.img %> alt="card-image"/>
                <div id="cardContent">
                    <h2><%= post.title %></h2>
                    <p><%= post.description %></p>
                </div>
            </div>
        <% }) %>
    </div>
</div>
</body>