<link rel="stylesheet" href="/css/home.css">
<body>
<div class="content">
    <% if((searchType === "post")) { %>
        <% if(!posts || (posts.length === 0)) { %>
            <div>Keine Posts gefunden</div>
        <% } else { %>
            <div class="masonryGrid">
                <% posts.forEach(post => { %>
                    <%- include('partials/homePostCard.ejs', {post: post}) %>
                <% }) %>
            </div>
        <% } %>
    <% } %>
    <% if((searchType === "user")) { %>
        <% if(!users || (users.length === 0)) { %>
            <div>Keine User gefunden</div>
        <% } else { %>
            <% users.forEach(user => { %>
                <%- include('partials/userCard.ejs', {user: user}) %>
            <% }) %>
        <% } %>
    <% } %>
</div>
</body>