<html lang="de">
<head>
    <title></title>
    <link rel="stylesheet" href="/css/layout.css"></link
</head>
<body>
<%- include('partials/navigation.ejs') %>
<div id="content">
    <%- body %>
</div>
</body>
</html>