.formContainer {
    max-width: 800px;
    margin: auto auto 30px;
    padding: 15px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: white;
}

#createPostForm {
    margin-bottom: 0;
}

textarea {
    resize: vertical;
}

#formGrid {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.inputGroup:nth-child(3) {
    grid-column: 1/3;
}

#description {
    height: 100px;
    font-family: "Avenir Next", serif;
}

.textInput {
    font-family: "Avenir Next", serif;
    border-radius: 10px;
    border: solid black 1px;
    font-size: 14px;
    padding: 10px;
}

.textInput:focus {
    outline: none;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon:hover {
    background-color: #e0e0e0;
}

#stepsHeader {
    grid-column: 1 / 3;
}

#addRemove {
    height: fit-content;
    display: flex;
    gap: 5px;
    justify-content: end;
}

#bottomButtonContainer {
    display: flex;
    justify-content: space-between;
}

#addRemove div {
    border: none;
    background-color: white;
    margin: 0;
    padding: 8px;
    border-radius: 20px;
}

#stepsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.stepDescription {
    height: 150px;
}

#addRemove div:hover {
    background-color: #e0e0e0;
}

#submitButton {
    font-size: 16px;
    padding: 8px 15px 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: #EAE34B;
}

#submit:hover {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 800px) {
    #formGrid {
        grid-template-columns: 1fr;
    }

    .inputGroup:nth-child(3) {
        grid-column: 1 / 2;
    }

    #stepsHeader {
        grid-column: 1 / 2;
    }
}

@media screen and (max-width: 540px) {
    .formContainer {
        margin-left: 5px;
        margin-right: 5px;
    }
}