a {
    text-decoration: none;
    color: black;
}

.masonryGrid {
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
    columns: 300px;
    column-gap: 20px;
}

.cardImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card {
    width: 100%;
    margin: 0 0 20px;
    overflow: hidden;
    transition: transform .1s;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.15);
}

.card:hover {
    transform: scale(1.01);
}

#cardContent {
    padding: 12px;
}

#cardButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#followButton {
    margin: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: solid black 1px;
    background-color: white;
    cursor: pointer;
}

#followButton:hover {
    background-color: #e0e0e0;
}

#cardIcon {
    margin: 0;
    padding: 0;
    color: white;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 30px;
}

#cardIcon:hover {
    background: white;
}

#cardIcon:hover svg {
    color: #EAE34B;
}

#cardButton {
    padding: 8px 15px 5px 15px;
    border-radius: 20px;
    background-color: #EAE34B;
}

#cardButton:hover {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
}

#cardDescription {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 10px;
}

#cardTitle {
    margin: 5px 0 5px 0;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .masonryGrid {
        columns: 280px;
    }
}

@media screen and (max-width: 1000px) {
    .masonryGrid {
        columns: 230px;
    }

    #cardDescription {
        font-size: 14px;
    }
}

/* mobile breakpoints */

@media screen and (max-width: 540px) {
    .masonryGrid {
        columns: 200px;
        column-gap: 10px;
    }

    #cardTitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .masonryGrid {
        columns: 130px;
        column-gap: 10px;
    }

    #username {
        font-size: 14px;
    }

    #followButton {
        padding: 2px 7px 2px 7px;
        font-size: 12px;
    }

    #cardDescription {
        font-size: 12px;
    }

    #cardIcon {
        width: 25px;
    }

    #cardButton {
        padding: 5px 12px 2px 12px;
        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    .masonryGrid {
        columns: 300px;
        column-gap: 10px;
    }
}