.masonryGrid {
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
    columns: 300px;
    column-gap: 20px;
}

@media screen and (max-width: 1200px) {
    .masonryGrid {
        columns: 280px;
    }
}

@media screen and (max-width: 1000px) {
    .masonryGrid {
        columns: 230px;
    }
}

/* mobile breakpoints */

@media screen and (max-width: 540px) {
    .masonryGrid {
        columns: 200px;
        column-gap: 10px;
    }
}

@media screen and (max-width: 400px) {
    .masonryGrid {
        columns: 130px;
        column-gap: 10px;
    }
}

@media screen and (max-width: 370px) {
    .masonryGrid {
        columns: 300px;
        column-gap: 10px;
    }
}
