#userContainer {
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    margin: auto auto 30px;
}

.userButtons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.userButton {
    padding: 5px;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}

#logoutButton {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: solid black 1px;
    background-color: white;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #e0e0e0;
}

#deleteButton {
    color: red;
}

.userButton:hover {
    background-color: rgba(136, 136, 136, 0.15);
}