#topContainer {
    display: flex;
    justify-content: space-between;
}

#userContainer {
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    margin: auto auto 30px;
}

#profileContainer {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 15px;
}

#profilePicture {
    border: 1px solid black;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#numbersInfo {
    display: flex;
    gap: 20px;
}

#numbersInfo .box {
    vertical-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#numbersInfo .box:hover {
    background-color: #e0e0e0;
}

.number {
    font-weight: bold;
    font-size: 25px;
}

.label {
    font-size: 14px;
}

.userButtons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.userButton {
    padding: 5px;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}

#logoutButton {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: solid black 1px;
    background-color: white;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #e0e0e0;
}

#deleteButton {
    color: #f44336;
}

.userButton:hover {
    background-color: rgba(136, 136, 136, 0.15);
}