<form id="registerForm" action="<%= `/user/${user._id}?_method=PUT` %>" method="post">
    <label for="username"><b>Username</b>
        <input type="text" placeholder="Enter Username" name="username" value="<%= user.username %>" required>
    </label>

    <label for="email"><b>Email</b>
        <input type="text" placeholder="Enter Email" name="email" value="<%= user.email %>" required>
    </label>

    <label for="password"><b>Password</b>
        <input type="password" placeholder="Enter Password" name="password" value="<%= user.password %>" required>
    </label>

    <button type="submit">Speichern</button>
</form>