<link rel="stylesheet" href="/css/login.css">
<body>
    <form class="loginForm" action="/login" method="post">
        <div class="imgcontainer">
            <img class="logo" src="/images/Logo.svg" alt="Creape Logo">
          </div>
        
          <div class="container">
            <label for="username"><b>Username</b></label>
            <input id="username" type="text" placeholder="Enter Username" name="username" required>
        
            <label for="password"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="password" required>
        
            <button type="submit">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
        
          <div id="containerFooter" class="container">
            <a href="/" type="button" class="cancelbtn">Cancel</a>
            <div class="psw">
              No profile yet? <a href="/register">Register</a>
            </div>
          </div>
   </form>
</body>