<link rel="stylesheet" href="/css/login.css">
<body>
    <form id="registerForm" action="/user/create" method="post">
        <div class="imgcontainer">
            <img class="logo" src="/images/Logo.svg" alt="Creape Logo">
          </div>
          <div class="container">
            <label for="username"><b>Username</b>
            <input type="text" placeholder="Enter Username" name="username" required>
            </label>

            <label for="email"><b>Email</b>
            <input type="text" placeholder="Enter Email" name="email" required>
            </label>
        
            <label for="password"><b>Password</b>
            <input type="password" placeholder="Enter Password" id="password" name="password" required>
            </label>

            <label for="password"><b>Repeat Password</b>
            <input onchange="validateFunction()" type="password" placeholder="Enter Password" id="passwordRepeat" name="passwordRepeat" required>
            </label>

            <div id="passwordMessage"></div>
        
            <button type="submit">Register</button>
            <label for="isAdmin">
              <input type="checkbox" name="isAdmin" value="true"> Admin
            </label>
          </div>
        
          <div class="container" style="background-color:#f1f1f1; display: flex; align-items: center; justify-content: space-between">
            <a href="/" type="button" class="cancelbtn">Cancel</a>
            <div class="psw">
              Have a profile already? <a href="/login">Login</a>
            </div>
          </div>
   </form>
   <script>
     const form = document.getElementById("registerForm");

     function validateFunction() {
       const password = document.getElementById("password").value;
       const passwordRepeat = document.getElementById("passwordRepeat").value;
       const message = document.getElementById("passwordMessage");
       if(password !== passwordRepeat){
          message.innerHTML = "Passwords do not match";
          return false;
       }else{
          message.innerHTML = "";
          return true;
       }
     }

     form.addEventListener("submit", (event) => {
       const valid = validateFunction(event);
       if(!valid){
         event.preventDefault();
       }
     });
   </script>
</body>